{erl_opts, [debug_info, warn_export_all, warn_unused_import, warn_unused_vars]}.

{deps, [
  {cowboy, "2.10.0"},
  {jsx,    "3.1.0"}
]}.

{relx, [
  {release, {epdg, "0.0.11"}, [epdg, sasl]},
  {dev_mode, true},
  {include_erts, false}
]}.

{profiles, [
  {prod, [{relx, [{dev_mode, false}, {include_erts, true}]}]}
]}.
